.btn {
    border: 2px solid #ffffff00;
    color: #ffffff;
    border-radius: 50px;
    background-color: #68d02b;
    padding: 10px 20px 10px 20px;
    // font-size: 18px;
    text-align: center;
    font-family: "Red Hat Text", sans-serif;
}

i {
    margin-right: 1rem;
}

.btn2 {
    border: 0px solid #ff020200;
    color: #ffffff;
    border-radius: 50px;
    background-color: #2b8ed0;
    padding-right: 15%;
    padding-left: 10%;
    text-align: center;
    width: fit-content;
    height: 31px;
}

.btn2:hover {
    
    background-color: #1069a5;
    
}

.lnk-btn {
    cursor: pointer;
    // text-decoration: none;

}

.lnk-btn:hover {
    // text-decoration: none;
}
